<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
  
  <xacro:macro name="vlp_16_mount" params="prefix">

    <link name="${prefix}_velodyne_mount">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 ${-M_PI/2}" />
        <!-- Origin of this mesh is the base of the bracket. -->
        <geometry>
          <mesh filename="$(find velodyne_description)/meshes/VLP-16_base1.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 .0585" rpy="0 0 0" />
        <geometry>
          <box size=".1 .108 .117" />
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}_velodyne_joint" type="fixed">
      <!-- This offset is from the base of the bracket to the LIDAR's focal point. -->
      <origin xyz="0.0352 0 0.0566" rpy="${M_PI} 0 0" />
      <parent link="${prefix}_velodyne_mount" />
      <child link="${prefix}_velodyne" />
    </joint>

  </xacro:macro>

</robot>
